{% extends 'base.html' %}
{% load static %}
{% block title  %}about{% endblock title %}
{% block content %}
<h2 class="text-center">About BMH</h2>
<hr>
<p class="text-justify">The vision ‘affordable, accessible and quality healthcare for all’, a dream of visionary, Dr. K G Alexander was made a reality in 1987 with the commencement of Baby Memorial Hospital (BMH). The novel initiative then marked a revolution in the healthcare segment in Kerala, thus symbolizing an answer for the growing healthcare demands of the state. A tribute to late K C Varghese (known as ‘Baby’), father of Dr. K G Alexander, the Chairman and Managing Director, the hospital has set a benchmark in offering unprecedented care.</p>
<p class="text-justify">Adhering to strict and ethical medical practices, the hospital team ‐ which expands to 300 doctors and over 2000 nursing, paramedical and administrative staff – relentlessly strive to keep up our ideology, ‘ <b>more than care </b>‘.</p>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem; align:center;">
    <div class="card-header">BMH - more than care</div>
    <div class="card-body">
      <p class="card-text">Being committed to care for three decades has meant a lot to us. It helped us to understand better on how to give you more than care, through deeper understanding of your needs. We have thus, combined the best of healthcare, commitment and personal attention to give you a unique healing experience.</p>
    </div>
{% endblock content %}